<!-- <div class="container">
  <footer class="row py-5 m-5 border-top">
    <div class="col mb-3">
      <a href="#" class="navbar-brand">
        <img
          src="/assets/Footer/logo.png"
          alt="Travelport_logo"
          class="logo"
          id="logo"
        />
        <div class="flex-row d-inline-block">
          <h1>Travelport</h1>
        </div>
      </a>
    </div>

    <div class="col mb-3">
      <h5>About Travelport</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary"
            ><h6>How To Book</h6></a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary"
            ><h6>About Us</h6></a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary"
            ><h6>Privacy Policy</h6></a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary"><h6>FAQs</h6></a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-body-secondary"
            ><h6>Terms and Conditions</h6></a
          >
        </li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>E-Mail Us!</h5>
      <span class="contact-info">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-envelope-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"
          />
        </svg>
        travelport&#64;gmail.com
      </span>

      <h5>Contact Us!</h5>
      <span class="contact-info">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-telephone-fill"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"
          />
        </svg>
        +63 0932 653 4419
      </span>
    </div>
    <div class="row">
      <div class="col-md-4 mb-3" id="payment">
        <h5>Payment Partners</h5>
        <img src="/assets/Footer/BPI.png" alt="BPI" />
        <img src="/assets/Footer/gcash.png" alt="GCash" />
        <img src="/assets/Footer/mastercard.png" alt="Mastercard" />
        <img src="/assets/Footer/visa.png" alt="Visa" />
      </div>
      <div class="col download-app">
        <h5>Download Travelport App</h5>
        <img
          src="/assets/Footer/googleplay.png"
          alt="Google Play"
          id="googleplay"
        />
        <img
          src="/assets/Footer/appstore.png"
          alt="App Store"
          id="applestore"
        />
      </div>
    </div>
  </footer>
  <footer class="row py-2 border-top">
    <div class="row justify-content-center align-items-center g-2">
      <div class="col text-center">
        <img
          src="/assets/Footer/Facebook.png"
          alt=""
          srcset=""
          class="socialmedia"
        />
        <img
          src="/assets/Footer/Instagram.png"
          alt=""
          srcset=""
          class="socialmedia"
        />
        <img
          src="/assets/Footer/YouTube.png"
          alt=""
          srcset=""
          class="socialmedia"
        />
        <img
          src="/assets/Footer/TwitterX.png"
          alt=""
          srcset=""
          class="socialmedia"
        />
      </div>
    </div>
    <div class="container-fluid" id="copyright">
      <div class="d-flex justify-content-between border-top">
        <p>© 2023 Travelport, Inc. All rights reserved.</p>
        <p>
          Powered By Angular
          <img src="/assets/Footer/angular.png" alt="" srcset="" />
        </p>
      </div>
    </div>
  </footer>
</div> -->
<!-- Footer -->
<footer class="text-center text-lg-start text-muted">
  <section class="container text-center text-md-start mt-5">
    <div class="row">
      <div class="col mb-3">
        <a href="#" class="navbar-brand">
          <img
            src="/assets/Footer/logo.png"
            alt="Travelport_logo"
            class="logo"
            id="logo"
          />
          <div class="flex-row d-inline-block">
            <h1>Travelport</h1>
          </div>
        </a>
      </div>

      <div class="col mb-3">
        <h5>About Travelport</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary"
              ><h6>How To Book</h6></a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary"
              ><h6>About Us</h6></a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary"
              ><h6>Privacy Policy</h6></a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary"
              ><h6>FAQs</h6></a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary"
              ><h6>Terms and Conditions</h6></a
            >
          </li>
        </ul>
      </div>

      <div class="col mb-3">
        <h5>E-Mail Us!</h5>
        <span class="contact-info">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-envelope-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"
            />
          </svg>
          travelport&#64;gmail.com
        </span>

        <h5>Contact Us!</h5>
        <span class="contact-info">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-telephone-fill"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"
            />
          </svg>
          +63 0932 653 4419
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mb-3" id="payment">
        <h5>Payment Partners</h5>
        <img src="/assets/Footer/BPI.png" alt="BPI" />
        <img src="/assets/Footer/gcash.png" alt="GCash" />
        <img src="/assets/Footer/mastercard.png" alt="Mastercard" />
        <img src="/assets/Footer/visa.png" alt="Visa" />
      </div>
      <div class="col download-app">
        <h5>Download Travelport App</h5>
        <img
          src="/assets/Footer/googleplay.png"
          alt="Google Play"
          id="googleplay"
        />
        <img
          src="/assets/Footer/appstore.png"
          alt="App Store"
          id="applestore"
        />
      </div>
    </div>
    <!-- Grid row -->
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center bep-4" style="background-color: rgba(0, 0, 0, 0.05)">
    <div class="container" id="copyright">
      <p>© 2023 Travelport, Inc. All rights reserved.</p>
      <p>
        <img src="/assets/Footer/angular.png" alt="" srcset="" />Powered By
        Angular
      </p>
    </div>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
