



<div class="container">
    <h1>
        Beyond Imagination
    </h1>
    <h2>
        Discover Unique Places With Us
    </h2>
    <div class="row">
        <div class="col-3">
            <div class="card rounded" id="card-1">
                <div class="card-img-overlay">
                    <h5 class="card-title text-white">
                        Eiffel Tower
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card shadow-lg rounded" id="card-2">
                <div class="card-img-overlay">
                    <h5 class="card-title text-white">
                        Matterhorn
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card shadow rounded" id="card-3">
                <div class="card-img-overlay">
                    <h5 class="card-title text-white">
                        Pyramids
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card shadow rounded" id="card-4">
                <div class="card-img-overlay">
                    <h5 class="card-title text-white">
                        Grand Canyon
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
