<nav class="navbar">
    <div class="logocontainer">
            <img src="/assets/Images/Travelport_logo.png" alt="Travelport_logo" id="logo">
            <div class="textContainer">
                <h1>Travelport</h1>
                <h2>Reservation System</h2>
            </div>
    </div>

    <div class="links">
        <ul>
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Booked Flights</a></li>
        <li><a href="#">Popular Destinations</a></li>
        </ul>
    </div>

    <div class="loginRegister">
        <a href="#">Sign In</a>
        <button type="button">Register</button>
    </div>
</nav>