<!-- Fixed-top -->
<nav class="navbar navbar-light navbar-expand-lg navbar-light bg-light">
  <div class="container justify-content-between">
    <a href="#" class="navbar-brand">
      <img
        src="/assets/Images/Travelport_logo.png"
        alt="Travelport_logo"
        id="logo"
      />
      <div class="flex-row d-inline-block">
        <h1>Travelport</h1>
        <h2>Reservation System</h2>
      </div>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a href="#" class="nav-link active"> Home </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a href="#" class="nav-link"> About </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a href="#" class="nav-link"> Booked Flights </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a href="#" class="nav-link"> Popular Destinations </a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a href="/login" class="nav-link">Sign In</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <button class="btn" id="Register">Register</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <nav class="navbar">
    <div class="logocontainer">
            <img src="/assets/Images/Travelport_logo.png" alt="Travelport_logo" id="logo">
            <div class="textContainer">
                <h1>Travelport</h1>
                <h2>Reservation System</h2>
            </div>
    </div>

    <div class="links">
        <ul>
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Booked Flights</a></li>
        <li><a href="#">Popular Destinations</a></li>
        </ul>
    </div>

    <div class="loginRegister">
        <a href="#">Sign In</a>
        <button type="button">Register</button>
    </div>
</nav> -->
