.navbar-brand {
    display: flex;
    align-items: center;
}

#navbarNav{
    padding-left: 3%;   
    padding-top: 7px;
}

.navbar-brand #logo {
    margin-right: 5px; /* Adjust the margin as needed */
}

.navbar-brand div {
    display: flex;
    flex-direction: column; /* Arrange the text in a column */
}

.navbar-brand h1 {
    font-family: 'Moul-Regular';
    font-size: 2rem;
    color: #254E58;
    margin: 0;
    display: inline-block; /* Remove default margin for the heading tag */
}

.navbar-brand h2 {
    font-family: 'Comfortaa-Bold';
    font-size: 14px;
    color: #254E58;
    margin: 0;
    display: inline-block; /* Remove default margin for the heading tag */
}

ul li {
    font-family: Comfortaa-Regular;
    padding-right: 16px;
    font-size: 1rem;
}
.login{
    display: flex;
    padding-left: 20px;
}
#Register{
    background-color: #5D60EF;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
}

/* * {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    height: 61px;
    width: 79px;
}

.textContainer {
    display: flex;
    flex-direction: row; 
    align-items: baseline;
    margin-left: 5px; 
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #FFFF;
}

.logocontainer {
    display: flex;
    align-items: center;
    justify-items: baseline;
  }
h1 {
    font-family: 'Moul-Regular';
    font-size: 2rem;
    color: #254E58;
}

h2 {
    font-family: 'Comfortaa-Bold';
    font-size: 1rem;
    color: #254E58;
    vertical-align: middle;
}

ul li {
    display: inline-block;
    padding: 1rem;
    font-family: Comforta-Regularr;
    font-size: 1rem;
    padding-bottom: 10px;
}
a{
    color: #908F9A;
    border-radius: 10px;
}
a.active, a:hover{
    color: #254E58;
    background-color: #F3F4F8 ;
    transition: 0.5s;
}

.loginRegister a {
    margin-right: 10px; 
}

.loginRegister button {
    background-color: #5D60EF;
    color: #fff;
    width: 98px;
    height: 29px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
} */
