*{
    font-family: Comfortaa-Regular;
}

.backgroundimage {
    background-image: url('/assets/Images/Background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 583px;
    padding: 100px;
  }
  h1 {
    font-family: 'Moul-Regular';
    font-size: 48px;
    color: #254E58;
    vertical-align: middle; 
}
h2{
    font-family: 'Comfortaa-Regular';
    font-size: 24px;
    color: #254E58;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.dropdowns{
    display: flex;
}
.typeFlight,
.numPassengers,
.seatClass {
  margin-right: 24px;
}
.textInput{
    display: flex;
}

.from-icon{
    background-image: url("/assets/Icons/Globe.png");
}

.searchContainer{
    display: flex;
    flex-direction: column;
    width: 1118;
    border-radius: 15px;
    border-style: solid;
    border-width: 1;
    background: rgba(255,255,255, 0.5);
    padding: 19px;
    align-self: center;
}
.button{

align-self: center;
}
