/* You can add global styles to this file, and also import other style files */

body{
    background-color: #F0F2F5;
}

@font-face {
    font-family: 'Comfortaa-Bold';
    src: url('/assets/fonts/Comfortaa-Bold.ttf');
}

@font-face {
    font-family: 'Comfortaa-Light';
    src: url('/assets/fonts/Comfortaa-Light.ttf');
}

@font-face {
    font-family: 'Comfortaa-Medium';
    src: url('/assets/fonts/Comfortaa-Medium.ttf');
}

@font-face {
    font-family: 'Comfortaa-Regular';
    src: url('/assets/fonts/Comfortaa-Regular.ttf');
}

@font-face {
    font-family: 'Comfortaa-SemiBold';
    src: url('/assets/fonts/Comfortaa-SemiBold.ttf');
}

@font-face {
    font-family: 'Moul-Regular';
    src: url('/assets/fonts/Moul-Regular.ttf');
}
